{% extends "index.html" %}



{% block content %}
    <div id="section">
<form method="post" action="{% url "password_reset_reset" token%}">
<input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
<p><label for="id_password1">Yeni Şifre:</label> <input id="id_password1" name="password1" type="password"></p>
<p><label for="id_password2">Yeni Şifre(tekrar):</label> <input id="id_password2" name="password2" type="password"></p>
<p><input type="submit" value="Güncelle" class="btn btn-success btn-lg"></p>
</form>
    </div>

{% endblock %}

